<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply For Card</title>
    <link rel="stylesheet" href="user-page.component.css">
</head>
<body>
    <h1>Online Credit Card Form</h1>
	<form>
		<div id="personal-details">
		<h2>Personal Deatils</h2>
			<table width="100%">
				<tr>
					<td>First Name</td>
					<td>
						<input type="text" placeholder="First Name" size="25" required maxlength="12">
					</td>
					<td>Middle Name</td>
					<td>
						<input type="text" placeholder="Middle Name" size="25" required maxlength="12">
					</td>
					<td>Last Name</td>
					<td>
						<input type="text" placeholder="Last Name" size="25" required maxlength="12">
					</td>
				</tr>
				<tr>
					<td>Father's Name</td>
					<td>
						<input type="text" placeholder="Father's Name" size="25" required maxlength="12">
					</td>
					<td>Mother's Name</td>
					<td>
						<input type="text" placeholder="Mother Name" size="25" required maxlength="12">
					</td>
				</tr>
				<tr>
					<td>Date of Birth</td>
					<td>
						<input type="date" required   max="2004-01-01">
					</td>
					<td>Place of Birth</td>
					<td>
						<input type="text" placeholder="Place of Birth" size="25" required maxlength="10">
					</td>
				</tr>
				<td>Gender</td>
                     				<td> <select>
						    <option>Select</option>
							<option>Male</option>
							<option>Female</option>
							<option>Other</option>
						</select>
					</td>
				<tr>
					<td>Mobile Number</td>
					<td>
						<input type="text" placeholder="9831**" size="25" required maxlength="10" minlength="10">
					</td>
					<td>Email Id</td>
					<td>
						<input type="text" placeholder="your id@gmail.com" size="25" required maxlength="40">
					</td>
				</tr>
				<tr>
					<td>Aadhar Number</td>
					<td>
						<input type="text" placeholder="Aadhar Number" size="25" required maxlength="12" minlength="12">
					</td>
					<td>Pan Card Number</td>
					<td>
						<input type="text" placeholder="Pan Card Number" size="25" required maxlength="10" minlength="10">
					</td>
				</tr>
			</table>
		</div>
		
		<!-- Address Details -->
		<div id="address-details">
		<h2>Address Details</h2>
			<h3>A) Present Address</h3>
			<table width="100%">
				
				<tr>
					<td>Nationality</td>
					<td>
						<input type="text" size="25" placeholder="Nationality" required maxlength="15">
					</td>
					<td>State</td>
					<td>
						<input type="text" size="25" placeholder="State" required maxlength="15">
					</td>
				</tr>
				<tr>
					<td>District</td>
					<td>
						<input type="text" size="25" placeholder="District" required maxlength="15">
					</td>
					<td>Pin Code</td>
					<td>
						<input type="phone" size="25" placeholder="Pincode" required maxlength="6">
					</td>
				</tr>
				<tr>
					<td>Address</td>
					<td>
						<input type="text" size="25" placeholder="Enter Address" required maxlength="70" >
					</td>
					<td>Landmark</td>
					<td>
						<input type="text" size="25" placeholder="Landmark" required maxlength="25">
					</td>
				</tr>
			</table>
			<br><br>
		</div>
		
		<div>
			<h3>B) Permanent Address</h3>
			<table width="100%">
				<tr>
					<td>Nationality</td>
					<td>
						<input type="text" size="25" placeholder="Nationality" required maxlength="15">
					</td>
					<td>State</td>
					<td>
						<input type="text" size="25" placeholder="State" required maxlength="15">
					</td>
				</tr>
				<tr>
					<td>District</td>
					<td>
						<input type="text" size="25" placeholder="District" required maxlength="15">
					</td>
					<td>Pin Code</td>
					<td>
						<input type="phone" size="25" placeholder="Pincode" required maxlength="6">
					</td>
				</tr>
				<tr>
					<td>Address</td>
					<td>
						<input type="text" size="25" placeholder="Enter Address" required maxlength="70" >
					</td>
					<td>Landmark</td>
					<td>
						<input type="text" size="25" placeholder="Landmark" required maxlength="25">
					</td>
				</tr>
			</table>
		</div>
		
		<!-- Profession Details-->
		<div id="profession-details">
		<h2> Profesional Details</h2>
			<table width="100%">
				<tr>
					<td>Profession</td>
                     				<td> <select>
							<option>Select</option>
							<option>Student</option>
							<option>Self Employed</option>
							<option>freelancing</option>
							<option>Government Employee</option>
							<option>Private Employee</option>
			
						</select>
					</td>
			 	<tr>	
					<td>Instituited / University/Company</td>
					<td>
						<input type="text" size="25"  placeholder="Instituited / University/Company" required maxlength="20">
					</td>	
				</tr>
				<tr>
					<td>Working Years</td>
					<td>
						<input type="text" size="25" placeholder="e.g: 0-1, 3, 10..." required maxlength="5">
					</td>
				</tr>
				<tr>
					<td>Salary</td>
					<td>
						<input type="text" size="25"  placeholder="Salary per Month" required maxlength="10">
					</td>
				</tr>
				
			</table>
		</div>
		
		<!-- Decleration Details -->
		<div id="Decleration-details">
		<h2>Deceleration Details</h2>
			<table width="100%">
				
				<tr>
					<td> Location</td>
					<td>
						<input type="text" size="25" placeholder="Location" required maxlength="10">
					</td>
		
				</tr>
				<tr>
					<td>Date</td>
					<td>
						<input type="date" required min="2022-01-01">
					</td>
				</tr>


				<tr>
					<td></td>
					<td>
						<input type="checkbox" required>All the above mentioned information is true as per my knowledge.
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="Submit" value="Submit" class="button">
					</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>
